
@{
    ViewData["Title"] = "Contacto Pagina";
}


<section class="page-section" id="contact">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8 col-xl-6 text-center">
                        <h2 class="mt-0">MENU ADMINISTRADOR</h2>
                        <hr class="divider" />
                        <p class="text-muted mb-5">Bienvenido Administrador</p>
                    </div>
                </div>
                <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
                    <div class="col-lg-6">
                       
    <div class="text-center">
        <h1 class="display-4"></h1>     
        
     
        <div class="form-group">
            <button  type="submit" class="w-100 btn btn-lg btn-primary btn-xl" >Registro de Ventas</button>
       </div>   
       <br>
       <br>
       
        <div class="form-group">
            <button  type="submit" class="w-100 btn btn-lg btn-primary btn-xl" >Registro de Ventas</button>
       </div>  
       <br>
       <br>  
        <div class="form-group">
            <button  type="submit" class="w-100 btn btn-lg btn-primary btn-xl" >Registro de Ventas</button>
       </div>  
      
    </div>
     
            
</section>