@{
    ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>
<div>
        
        <br><br><br>
    </div>
    <a class="btn btn-info" asp-controller="MenuAdm" asp-action="Index">Volver al Menu Administrador</a>
<div class="text-center">

    <h3 class="display-4"><b>MENU DE CONTACTO</b></h3>
    <br>
    <br>
    <br>
   
    <a class="btn btn-dark btn-lg btn-block" asp-area="" asp-controller="Contacto" asp-action="Indexadmin"><b>Lista Central</b></a>

    <br>
    <br>
    <br>
    <a class="btn btn-dark btn-lg btn-block" asp-area="" asp-controller="Contacto" asp-action="IndexadminResueltos"><b>Lista de Preguntas Resueltas</b></a>
    <br>
    <br>
    <br>

    <a class="btn btn-dark btn-lg btn-block" asp-area="" asp-controller="Contacto" asp-action="IndexadminSinResolver"><b>Lista de Preguntas Sin Resolver</b></a>
    <br>
    <br>
    <br>
    <a class="btn btn-dark btn-lg btn-block" asp-area="" asp-controller="Contacto" asp-action="IndexadminPendientes"><b>Lista de Preguntas Pendientes</b></a>

    <br>
    <br>
    <br>
</div>